<div class="product-form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-field">
                <label for="id">ID</label>
                <input type="text" id="id" formControlName="id" [readonly]="isEditMode">
                <div *ngIf="productForm.get('id')?.errors" class="error-message">
                    {{ getErrorMessage('id') }}
                </div>
            </div>

            <div class="form-field">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="name">
                <div *ngIf="productForm.get('name')?.errors" class="error-message">
                    {{ getErrorMessage('name') }}
                </div>
            </div>
        </div>
        <div class="form-row">

            <div class="form-field">
                <label for="description">Descripción</label>
                <input type="text" id="description" formControlName="description">
                <div *ngIf="productForm.get('description')?.errors" class="error-message">
                    {{ getErrorMessage('description') }}
                </div>
            </div>

            <div class="form-field">
                <label for="logo">Logo</label>
                <input type="text" id="logo" formControlName="logo">
                <div *ngIf="productForm.get('logo')?.errors" class="error-message">
                    {{ getErrorMessage('logo') }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="date_release">Fecha Liberación</label>
                <input type="date" id="date_release" formControlName="date_release">
            
                <div *ngIf="productForm.get('date_release')?.errors" class="error-message">
                    {{ getErrorMessage('date_release') }}
                </div>
            </div>

            <div class="form-field">
                <label for="date_revision">Fecha Revisión</label>
                <input type="date" id="date_revision" formControlName="date_revision">
                <div *ngIf="productForm.get('date_revision')?.errors" class="error-message">
                    {{ getErrorMessage('date_revision') }}
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" (click)="onReset()">Reiniciar</button>
            <button type="submit">{{ isEditMode ? 'Actualizar' : 'Agregar' }}</button>
        </div>
    </form>
</div>